{
	"env": {
		"browser": true,
		"commonjs": true,
		"mocha": true,
		"node": true
	},
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": "error"
	},
	// https://stackoverflow.com/questions/42250257/disable-eslint-rules-for-folder
	"ignorePatterns": [
		"lib/*"
	]
}
